.dog_photo_box {
  display: flex;
  justify-content: center;
  align-items: center;
}

.title {
  text-align: center;
  line-height: 1.75;
  font-size: 16px;
  text-transform: uppercase;
  font-weight: 700;
  letter-spacing: 0.15em;
  color: #313131;
}

.grid_layout {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, 1fr);
  margin: 30px 150px;
  align-items: center;
}

.link {
  text-align: left;
  color: #717171;
  text-decoration: none;
  font-family: "Open Sans", Helvetica, Arial, sans-serif;
  font-size: 16px;
  line-height: 1.75;
}

.symbol {
  color: #983a42;
  font-size: 16px;
  padding-right: 3px;
}

.photo_gallery {
  margin-top: 80px;
  margin-bottom: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 84px;
}
